@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(/assets/back6.jpg);
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logos {
    position: relative;
    margin-left: 2.8rem;
}

header .navigation a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s ;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: rgb(255, 255, 255);
}

.content{
    max-width: 650px;
    margin: 60px 100px; 
}

.content .info h2{
    color: #226a80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: aliceblue;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #0C4F60;
}

.media-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icon a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icon a:not(:last-child){
    margin-right: 60px;
}

.media-icon a:hover{
    transform: scale(1.5);
}

.logos h2 {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.logos  h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 1px #226a80;
}

.logos  h2:nth-child(2){
    color: #226a80;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        clip-path: polygon(
            0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%
        );
    }

    50%{
        clip-path: polygon(
            0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%
        );
    }
}